name: Mock Sync Test

on:
  workflow_dispatch:
  push:
    branches:
      -'**'
    paths:
      - 'src/app/lib/templates/lyft/**/*.j2'

jobs:
  sync-templates:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout comms-service repo
      uses: actions/checkout@v3
      with:
        path: source_repo

    - name: Set up workspace
      run: mkdir -p build/templates/lyft/

    - name: Convert .j2 to .html
      working-directory: source_repo
      run: |
        ROOT_DIR=$(pwd)
        cd src/app/lib/templates/lyft
        find . -type f -name "*.j2" | while read filename; do base_name="${filename%.j2}"
        mkdir -p "$ROOT_DIR/build/templates/lyft/$(dirname "$filename")"
        cp "$filename" "$ROOT_DIR/build/templates/lyft/$base_name.html"
        echo "converted:$filename"
        done

    - name: Checkout translations repo
      uses: actions/checkout@v3
      with:
        repository: sharathchandrapola/mock-translations
        token: ${{ secrets.TRANSLATIONS_REPO_PAT }}
        path: target_repo
        ref: main

    - name: Sync HTML files
      run: |
        mkdir -p target_repo/html-templates/lyft/
        # -r recursive copy keeps folder tree
        # -u update only if newer
        cp -r -u source_repo/build/templates/lyft/* target_repo/html-templates/lyft/

    - name: Commit and push changes
      working-directory: target_repo
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add html-templates/lyft/
        if git diff --staged --quiet; then
            echo "No chages detected, Skipping push."
        else
            echo "Changes detected. pushing to master"
            git commit -m "sync updated templated from comms-service"
            git push
        fi