name: Mock Sync Test

on:

    workflow_dispatch:
    push:
        branches:
            - 'main'
            - 'CALYFT-*'
        paths:
            - 'src/app/lib/templates/lyft/**/*.j2'

    pull_request:
        branches:
            - 'main'
        paths:
            - 'src/app/lib/templates/lyft/**/*.j2'

concurrency:
    group: sync-templates-${{ github.ref }}
    cancel-in-progress: false

jobs:
  sync-templates:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout comms-service repo
      uses: actions/checkout@v4
      with:
        path: source_repo
        fetch-depth: 0

    - name: Set up workspace
      run: mkdir -p build/templates/lyft/

    - name: Convert .j2 to .html
      working-directory: source_repo
      shell: bash
      run: |
        ROOT_DIR=$(pwd)
        cd src/app/lib/templates/lyft
        find . -type f -name "*.j2" | while read filename; do base_name="${filename%.j2}"
        mkdir -p "$ROOT_DIR/build/templates/lyft/$(dirname "$filename")"
        cp "$filename" "$ROOT_DIR/build/templates/lyft/$base_name.html"
        echo "converted:$filename"
        done

    - name: Checkout translations repo
      uses: actions/checkout@v4
      with:
        repository: sharathchandrapola/mock-translations
        token: ${{ secrets.TRANSLATIONS_REPO_PAT }}
        path: target_repo
        ref: main
        fetch-depth: 0

    - name: Update target repo to latest (rebase)
      working-directory: target_repo
      shell: bash
      run: |
        set -e
        git fetch origin main
        git checkout main
        git rebase origin/main
        git pull --rebase origin main
        echo "Rebased target repo to latest main"

    - name: Sync HTML files
      run: |
        echo "contents of build folder"
        ls -R source_repo/build/templates/lyft/
        mkdir -p target_repo/html-templates/lyft/
        # -r recursive copy keeps folder tree
        # -u update only if newer
        cp -r source_repo/build/templates/lyft/* target_repo/html-templates/lyft/
        echo "contents of target repo after copy"
        ls -R target_repo/html-templates/lyft/

    - name: Commit and push changes
      working-directory: target_repo
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add html-templates/lyft/
        if git diff --staged --quiet; then
            echo "No chages detected, Skipping push."
        else
            echo "Changes detected. pushing to master"
            git commit -m "sync updated templated from comms-service"
            git push origin main
        fi